# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.env/

# Logs
*.log

# Database files (VERY IMPORTANT for SQLite)
*.db
*.sqlite
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Render / deployment artifacts
build/
dist/